/*.overlay-image-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100vw;
  text-align: center;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1000001;
}*/

#overlay-image {
all:none;
position:fixed;
top:15px
left: 30px
}
#overlay-image2 {
all:none;
position: fixed;
top:15px
left: 30px
}

/*#overlay-image {
  width: 25%;
  max-width: 100%;
  height: calc(100vh - 16px);
  pointer-events: none;
}*/
