/*body {
  background-image: url(asphalt.jpg);
  background-size: 150px;
}*/

body {
  background-color:black;
}
img {
  vertical-align: middle;
  /*margin: auto;*/
  padding:100px;
}

body {
  text-align: center;
}
