
body {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  font-family: 'Raleway', sans-serif;
  color: white;
  margin: 0px;
  background-color: black;

}

a {
  display: none;
  position: absolute;
  text-decoration: none;
  top: 50%;
  left:50%;
  transform: translate(-50%. -50%);
}
#box {
  position: absolute;
  top:10px;
  left:10px;
  width: 150px;
  height:150px;
}

#line {
  background: white;
  height: 15px;
  width: 150px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%) rotate(0deg);

}


@media screen and (max-width: 1300px) {
  #line {
    transform: rotate(-36deg);
  }
}

@media screen and (max-width: 1186px) {
  #line {
    transform: rotate(-72deg);
  }
}

@media screen and (max-width: 1072px) {
  #line {
    transform: rotate(-108deg);
  }
}
@media screen and (max-width: 958px) {
  #line {
    transform: rotate(-144deg);
  }
}
@media screen and (max-width: 768px) {
  #line {
    transform: rotate(-180deg);
  }
}
@media screen and (max-width: 844px) {
  #line {
    transform: rotate(-216deg);
  }
}
@media screen and (max-width: 730px) {
  #line {
    transform: rotate(-252deg);
  }
}
@media screen and (max-width: 616px) {
  #line {
    transform: rotate(-288deg);
  }
}
@media screen and (max-width: 502px) {
  #line {
    transform: rotate(-324deg);
  }
}
@media screen and (max-width: 388px) {
  #line {
    transform: rotate(-360deg);
  }
}
@media screen and (max-width: 274px) {
  a {
    display:inline-block;
  }
  #line {
    display:none;
  }
}
