body {
  background: black;
  color: white;
  font-family: 'Raleway', sans-serif;
  padding:0px;
  margin: 0px;
}

#table-of-contents {
  position: fixed;
  bottom:30px;
  right:30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration:none;
  color: white;
  font-family: "Times New Roman", serif;
  font-size: 15px;
}
.info {
  position: absolute;
  top:50%;
  left: 50%;
  padding:22.5px;
  /*border: 5px solid white;*/
  transform: translate(-50%, -50%);
}

.info1 {
  text-align: center;
  position:relative;
  padding:22.5px;
  /*border: 5px solid white;*/
}


#i1 {
  border-bottom: 5px solid yellow;
  border-right: 5px solid yellow;
}

#i3 {
  border-bottom: 5px solid white;
  border-right: 5px solid white;
}

#i5 {
  border-bottom: 5px solid yellow;
  border-right: 5px solid yellow;
}

#i7 {
  border-bottom: 5px solid white;
  border-right: 5px solid white;
}
#i9 {
  border-bottom: 5px solid yellow;
  border-right: 5px solid yellow;
}

#i0 {
  border-top: 5px solid white;
  border-left: 5px solid white;
}
#i2 {
  border-top: 5px solid white;
  border-left: 5px solid white;
}
#i4 {
  border-top: 5px solid white;
  border-left: 5px solid white;
}
#i6 {
  border-top: 5px solid white;
  border-left: 5px solid white;
}
#i8 {
  border-top: 5px solid white;
  border-left: 5px solid white;
}
