body {
  background: magenta;
}

#table-of-contents {
  position: fixed;
  top:30px;
  right:30px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration:none;
  color: black;
  font-family: "Times New Roman", serif;
  font-size: 15px;
}
