body {
  background: beige;
}

#table-of-contents {
  position: fixed;
  top:30px;
  right:30px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#info {
  text-align: center;
  font-family: 'Times New Roman', serif;
  font-size: 20px;
}

h1, h2 {
  font-family: 'Miltonian', serif;
  margin: 0px;
}

h3, h6, h5 {
  margin: 3px;
  font-size:17px;
}

a {
  text-decoration:none;
  color: black;
  font-family: "Times New Roman", serif;
  font-size: 15px;
}
