body {
  background: black;
  color: white;
  font-family: 'Raleway', sans-serif;
  padding:0px;
  margin: 0px;
}
#table-of-contents {
  position: fixed;
  bottom:30px;
  right:30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration:none;
  color: white;
  font-family: "Times New Roman", serif;
  font-size: 15px;
}
#info {
  text-align: center;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  padding-top: 20px;
  border: 5px solid white;
  background-color: black;
}

.line {
  position: fixed;
  top: 50%;
  left:-25%;
  width: 150%;
  height: 3px;
  background: white;
}


#line2 {
  transform:rotate(30deg);
}

#line3 {
  transform:rotate(60deg);
}

#line4 {
  transform:rotate(90deg);
}
#line5 {
  transform:rotate(120deg);
}
#line6 {
  transform:rotate(150deg);
}
